table {
  width: 100%;
  border: 1px solid rgb(27, 27, 27);
  border-collapse: collapse;
  background-color: white;
}

table td,
table th {
  text-align: center;
  padding: 10px;
}

table thead tr {
  border-bottom: 1px solid rgb(27, 27, 27);
}

table tbody tr:nth-child(even) {
  background-color: rgb(221, 237, 252);
}

table p {
  font-size: 16px;
  text-align: left;
  margin: 0;
}

.text-center {
  text-align: center;
}

.lecture-title {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #145c8d;
}

@media screen and (max-width: 425px) {
  table tbody tr:nth-child(even) {
    background-color: transparent;
  }
  table tbody tr.bg-color {
    background-color: rgb(221, 237, 252);
  }
}
